<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Férias</title>
    <link rel="stylesheet" href="Ferias.css">
    
</head>
<body>
<article class="wrapper">
    <div id="container">
        <form id="calculadora">
            <label for="salario">Salário Bruto: <span class="req">*</span></label>
            <input type="number" id="salario" required>

            <label for="horaExtra">Valor Hora Extra:</label>
            <input type="number" id="horaExtra">

            <label for="dependentes">Número de Dependentes:</label>
            <input type="number" id="dependentes">

            <label for="diasFerias">Dias de Férias Requisitados:</label>
            <input type="number" id="diasFerias" required>



  

          <div class="checkbox-group">
              <label for="abonoPecuniario">Abono Pecuniário (1/3):</label>
              <div class="switch-container">
                  <label class="switch">
                      <input type="checkbox" id="abonoPecuniario">
                      <span class="slider round"></span>
                  </label>
              </div>
          </div>

            <div class="checkbox-group">
                <label for="adiantar13">Adiantar 1ª Parcela do 13º Salário:</label>
                <div class="switch-container">
                  <label class="switch">
                <input type="checkbox" id="adiantar13">
                <span class="slider round"></span>
                </label>
              </div>
            </div>

            <button type="button" class="custom-button" onclick="calcularFerias()">
                <span>Calcular</span>
            </button>

            <div id="resultados"></div>
        </form>
    </div>


    
</article>

    <script>
        src="Ferias.js"

    </script>

</body>
</html>
